@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    /* background-color: rgb(160, 195, 248); */
}


/* Program section  */
.left-img {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.60) 0%, rgba(19, 19, 24, 0.60) 40%),url('../Images/2.png');
    background-size: cover;
    background-position: center;
}
.right-img {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.60) 0%, rgba(19, 19, 24, 0.60) 40%),url('../Images/3.png');
    background-size: cover;
    background-position: center;
}
.bottom-img {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.60) 0%, rgba(19, 19, 24, 0.60) 40%),url('../Images/4.png');
    background-size: cover;
    background-position: center;
}
